{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact AhoyCiné</h1>
    </header>

    <p>Vous voulez contacter AhoyCiné ? Le message sera envoyé à ahoycine[at]gmail.com.</p>
    
    <form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.nom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.sujet) }}
        {{ form_row(form.message) }}

        {{ form_rest(form) }}

        <input type="submit" value="Envoyer" />
    </form>
{% endblock %}
